.swiper {
    width: 100%;
    height: 100%;
  }
  .swal2-confirm {
    background-color: #150845 !important;
    border: "none" !important;
    color: #dbb921 !important;
    font-family: "Irish Grover" !important;
  }
  .swal2-shown {
    font-family: "Irish Grover" !important;

  }
  .swal2-title {
    font-family: "Irish Grover" !important;

  }
  .swal2-popup {
    font-family: "Irish Grover" !important;
    color: #150845 !important;
  }


  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

  }



